{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subs-Café</title>
    <link href="{% static "styles/font-awesome.css" %}" type="text/css" rel="stylesheet">
    <link href="{% static "styles/bootstrap.css" %}" type="text/css" rel="stylesheet">
    <link href="{% static "styles/style.css" %}" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="{% static "js/jquery-1.11.2.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootbox.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
</head>
<body style="background-color: #1b6d85">

{% block header %}
{% endblock %}

{% include "_messages.html" %}

{% block body %}
{% endblock %}
{% block uploadbutton %}
    <div class="col-md-1" style="position: fixed; bottom: 20px; left: 20px; height: 50px;"><h3><a style="color: white" href="/upload"><i class="fa fa-upload"></i></a></h3></div>
{% endblock %}

{% block script %}
    <script>
        var showDialog = function (url, msg) {
            bootbox.dialog({
                message: msg,
                title: "Alerta",
                buttons: {
                    success: {
                        label: "Aceptar",
                        className: "btn-success",
                        callback: function () {
                            window.open(url, "_parent");
                        }
                    },
                    danger: {
                        label: "Cancelar",
                        className: "btn-danger",
                        callback: function () {
                            {#                                window.open("","_parent")#}
                        }
                    }
                }
            });
        };

        var showPopUpDialog = function (msg) {
            bootbox.dialog({
                message: msg,
                title: "Comentario",
                buttons: {
                    success: {
                        label: "Aceptar",
                        className: "btn-primary",
                        callback: function () {
{#                            window.open(url, "_parent");#}
                        }
                    }
                }
            });
        };
    </script>
{% endblock %}


</body>
</html>