{% extends 'base.html' %}
{% block header %}
    <div class="modal-header col-md-12">
        <div class="col-md-9"><h4><span style="font-size: 30px;"><i class="fa fa-coffee " style="color: white"></i></span><a style="color: white" href="/"> Subs-Café</a></h4></div>
        <div class="col-md-3" style="margin-top: 10px">
            <form class="form-search" action="/search" name="searchform">
                <div class="input-group">
                    <div class="input-group-addon btn" onclick="document.searchform.submit();">
                        <i class="fa fa-search"></i>
                    </div>
                    <input class="form-control" type="search" placeholder="Buscar..." name="q" value="{{ search_term|default:"" }}">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block body %}
{% endblock %}