{% extends 'base.html' %}

{% block body %}
    <div class="pull-right badge" style="margin-top: 20px; margin-right: 20px; background-color: firebrick"> {{ total_subs|default:"0" }} <i class="fa fa-file-text-o"></i></div>
    <div class="pull-right" style="margin-top: 20px; margin-right: 20px; "><a href="/feed" style="color: orangered"><i class="fa fa-feed"></i></a> </div>
    <div class="container-fluid">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-5 col-sm-4 col-xs-1"></div>
            <div class="col-md-1 col-sm-7 col-xs-7 centered" style="margin-top: 100px">
                <span style="font-size: 180px;"><i class="fa fa-coffee" style="color: white"></i></span>
            </div>
            <div class="col-md-5 col-sm-1 col-xs-1"></div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3"></div>
            <div class="col-md-6 centered" >
                <form class="form-search" action="/search" name="searchform">
                    <div class="input-group">
                        <div class="input-group-addon btn" onclick="document.searchform.submit();">
                            <i class="fa fa-search" ></i>
                        </div>
                        <input class="form-control" type="search" placeholder="Buscar..." name="q" value="{{ search_term|default:"" }}">
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-6"></div>
            <div class="col-md-4" ><h4 style="color: white">Un sitio para tus subtítulos...</h4></div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="col-md-2" style="position: fixed; bottom:   0px; right: 20px; height: 50px; color: white">Desarrollado por <a style="color: white" href="https://192.168.32.4/user/guamulo">@Guamulo</a></div>
{% endblock %}